/** @format */
.header {
  background-color: var(--color-background-footer);
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.headerContainer {
  display: flex;
  justify-content: start;
  align-items: center;
}

.photoContainer {
  width: 90px;
  height: 90px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;

  & > img {
    display: block;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: 768px) {
    width: 120px;
    height: 120px;
    margin-right: 60px;
  }
  @media screen and (min-width: 1268px) {
    width: 160px;
    height: 160px;
    margin-right: 100px;
  }
}

.titleName {
  font-size: 24px;
  color: var(--color-main-text);
  
  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
  @media screen and (min-width: 1268px) {
    font-size: 68px;
  }
}
.titlePosition {
  margin-top: 5px;
  font-size: 15px;
  color: var(--color-main-text);
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1268px) {
    margin-top: 15px;
    font-size: 38px;
  }
}